<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tafel {{ tableNumber }} <span *ngIf="hasWaitingOrder" class="badge badge-info">Wachtende bestelling</span></h5>
            <p class="card-text">&euro; {{ _tableService.getTotalPriceOfTable(tableNumber) }}</p>
            <p id="card">
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    Bestellingen
                </button>
            </p>
            <ng-container *ngIf="hasWaitingOrder">
                <p id="card">
                    <button type="button" class="btn btn-outline-primary" (click)="waitingOrderIsCollapsed = !waitingOrderIsCollapsed"
                            [attr.aria-expanded]="!waitingOrderIsCollapsed" aria-controls="waitingOrderCollapse">
                        Wachtende bestelling
                    </button>
                </p>
            </ng-container>
            <div id="collapseExample" [ngbCollapse]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        <p *ngIf="orders.length == 0">Nog geen bestellingen</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let order of orders">{{ _menuItemService.getMenuItem(order) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="waitingOrderCollapse" [ngbCollapse]="waitingOrderIsCollapsed">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let order of waitingOrders">{{ _menuItemService.getMenuItem(order) }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>