/*div {*/
/*    margin-top: 1rem;*/
/*}*/
/* Je moet nooit globaal een div een stijling geven. Dan gebeurt het op de hele website */
.card {
  border-radius: 8px;
}

#card {
    display: inline-flex;
    width: 100%;
    display: inline-block;
    margin: 0.5rem;
}

#button {
    margin: 5px;
}

.table-card-link {
  color: black;
}

.table-card-link:hover {
  text-decoration: none;
}
