<div class="container">
  <div class="row my-5">
    <ng-container *ngFor="let table of tables; let i index">
      <div class="col-md-6">
        <div class="card shadow" id="card">
          <div class="card-body">
            <a routerLink="/overview-tables" class="table-card-link" href="">
              <div class="row">
                <div class="col-10">
                  <h3 class="card-title mb-0">Tafel {{ table.id }}</h3>
                  <ng-container *ngFor="let tableService of this._tableService.tables">        
                    <div class="active-container" *ngIf="tableService.tableNumber == table.id && tableService.orders.length != 0">
                      <span class="circle-green"></span><p class="active-label">Actief: Ja</p>
                    </div>      
                    <div class="active-container" *ngIf="tableService.tableNumber == table.id && tableService.orders.length == 0">
                      <span class="circle-red"></span><p class="active-label">Actief: Nee</p>
                    </div>           
                  </ng-container>
                </div>
                <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                  <fa-icon [icon]="faArrowRight"></fa-icon>
                </div>
              </div>
            </a>

            <!--              <a href="#" id="button" class="btn btn-primary">Afrekenen</a>-->
            <!--              <a href="#" id="button" class="btn btn-primary">Bestelling toevoegen</a>-->
            <!--              <a href="#" id="button" class="btn btn-primary">Overzicht bestellingen</a>-->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
