<div class="container">
    <ng-container *ngFor="let table of tables; let i index">
        <div class="card" id="card">
            <div class="card-body">
              <h5 class="card-title">Tafel {{ table.id }}</h5>
              <a href="#" id="button" class="btn btn-primary">Afrekenen</a>
              <a href="#" id="button" class="btn btn-primary">Bestelling toevoegen</a>
              <a href="#" id="button" class="btn btn-primary">Overzicht bestellingen</a>
            </div>
        </div>
    </ng-container>
</div>