<form class="container" #options="ngForm" (ngSubmit)="newOrder(options.value)">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Tafel</label>
        </div>
        <select required class="custom-select form-control-lg" name="table" ngModel>
            <ng-container *ngFor="let tableNumber of tables; let i = index">
                <option>{{ tableNumber }}</option>
            </ng-container>
        </select>
    </div>
    <ng-container *ngFor="let menuItem of _menuItemsService.menuItems; let i = index">
        <div class="form-group">
            <label for="formGroupExampleInput">{{ menuItem.name }}</label>
            <input type="number" value="0" class="form-control" name="{{ menuItem.name }}" ngModel>
        </div>
    </ng-container>
    <button type="submit" class="btn btn-primary">Bestelling plaatsen</button>
</form>
<ngb-toast id="toast" class="bg-success text-light" *ngIf="show" [autohide]="false">
    Bestelling succesvol toegevoegd!
</ngb-toast>